# R History files
.Rhistory

# macOS DS_Store files
.DS_Store

# ipynb history
.ipynb_checkpoints/
.idea/

# python cache
.__pycache__/

# Rmarkdown html files
demo_code/randomForestsGLS_demo.nb.html

# vignette
/vignette/*
!/vignette/vignette.pdf

# joss
/joss/paper_v1.md
/joss/paper_v1.pdf
